image: iquiw/alpine-emacs
before_script:
  - apk update && apk add make

stages:
  - build
  - publish

tangle:
  stage: build
  script:
  - sed -i 's/\(:tangle \+"\?\)~/\1tangled/g' *.org
  - sed -i 's/\(:tangle \+"\?\)\(\/sudo::\)\?\//\1tangled\//g' *.org
  - make tangle
  artifacts:
    paths:
    - tangled


.publish: &publish
  script:
  - make publish
  artifacts:
    paths:
    - public

pages:
  stage: publish
  <<: *publish
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH


pages:test:
  stage: publish
  <<: *publish
  rules:
    - if: $CI_COMMIT_BRANCH != $CI_DEFAULT_BRANCH

