image: nixos/nix

stages:
  - build
  - publish

tangle:
  stage: build
  script: [ nix-shell --run "make build" ]
  artifacts:
    paths: [ config ]


.publish: &publish
  stage: publish
  script:
    - nix-shell --run "make doc"
    - mv book public
  artifacts:
    paths: [ public ]

pages:
  <<: *publish
  rules: [ if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH ]

pages:test:
  <<: *publish
  rules: [ if: $CI_COMMIT_BRANCH != $CI_DEFAULT_BRANCH ]

