image: nixos/nix

stages:
  - publish

.publish: &publish
  stage: publish
  script:
    - nix-shell --run "cd $(pwd); make doc"
    - mv book public
  cache:
    paths: [ /nix/store ]
  artifacts:
    paths: [ public ]

pages:
  <<: *publish
  rules: [ if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH ]

pages:test:
  <<: *publish
  rules: [ if: $CI_COMMIT_BRANCH != $CI_DEFAULT_BRANCH ]

