image: nixos/nix

stages:
  - build
  - publish

tangle:
  stage: build
  script:
    - pwd
    - ls
    nix-shell --run "pwd;ls;make build"
  cache:
    paths: [ /nix/store ]
  artifacts:
    paths: [ config ]


.publish: &publish
  stage: publish
  script:
    - nix-shell --run "make doc"
    - mv book public
  cache:
    paths: [ /nix/store ]
  artifacts:
    paths: [ public ]

pages:
  <<: *publish
  rules: [ if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH ]

pages:test:
  <<: *publish
  rules: [ if: $CI_COMMIT_BRANCH != $CI_DEFAULT_BRANCH ]

